DATABASE_URL=
NODE_ENV=development
JWT_SECRET=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET=movies
TMDB_READ_ACCESS_TOKEN=
ADMIN_EMAIL=
ADMIN_NAME=Movie Admin
ADMIN_PASSWORD=
PORT=5001
FRONTEND_URL=http://localhost:5173